.container-Check {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regresar {
  border: 1px solid black;
  padding: 5px;
  color: black;
  text-decoration: none;
}

.regresar:hover {
  padding: 10px;
  background-color: green;
  color: white;
}
