.count {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.count button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.text-count {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.container-count {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agregar {
  margin: 5px;
  padding: 5px;
}

.agregar:hover {
  background-color: green;
  color: white;
}
