.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 30px;
  margin: 2em;
}

.inputs {
  margin: 10px;
}

.buttom-send {
  padding: 10px;
  background-color: rgb(170, 168, 168);
  color: white;
}

.buttom-send:hover {
  background-color: green;
  color: white;
}
