.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: black;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
}

.link:hover {
  background-color: green;
  color: white;
}

.buttom-clear {
  padding: 5px;
}

.buttom-clear:hover {
  background-color: red;
  color: white;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
}
