.Container {
  display: flex;
  flex-direction: row;
  border: solid;
  margin-top: 5em;
  background-color: rgb(170, 168, 168);
}

.ImageItem img {
  width: auto;
  height: 30vh;
}

.InformationItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.viewCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkViewCart {
  text-decoration: none;
  color: black;
  font-size: 18px;
  border: 1px solid black;
  padding: 5px;
}

.linkViewCart:hover {
  background-color: green;
  color: white;
}
