.Error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}

.back {
  border: 1px solid black;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.back:hover {
  background-color: red;
  color: white;
}
